body {
  background-color: #0B192F;
}
#maintext {
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 60px;
  text-align: center;
}
#introduchome {
  color: #93A3C7;
  font-family: "Tilt Warp", sans-serif;
  font-size: 16px;
  text-align: center;
}
.name {
  color: #FCFF64;
}
#container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.Tab_menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tab {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.tab:hover {
  color: lightskyblue;
}
.head {
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  font-size: 42px;
  margin-left: 60px;
  margin-top: 80px;
}
.mainhead {
  display: flex;
}
.skills-content {
  display: flex;
  justify-content: space-around;
  padding-inline: 60px;
  text-align: center;
  flex-direction: row;
  margin-top: 180px;
}
.texting{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
}
.item1 {
  display: flex;
  flex-direction: column;
}
.image{
  width: 120px;
  height: 140px;
}
.box{
  background-color: aliceblue;
  opacity: 0.2;
}